
/* Cores do projeto */
$cor-primaria: #673ab7;
$cor-secundaria: #00bcd4;
$cor-primaria-escura: #512da8;

$cor-fundo: #f5f5f5;
$cor-texto: #333;
$cor-branca: #fff;
$cor-cabecalho: #181818;
$cor-borda: #ccc;

/* Fontes */
$fonte-principal: Arial, Helvetica, sans-serif;

/* Espaçamentos */
$espacamento-base: 1rem;
$espacamento-medio: 2rem;
$espacamento-grande: 3rem;

/* Bordas */
$borda-padrao: 0.5rem;
$borda-card: 0.7rem;
